<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap" async defer></script>

  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>

<body>
  <nav class="row" style="background: #6e83f7; color: rgb(255, 255, 255);">
    <div class="col-md-1">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="height: 100px;">
    </div>
    <h1 class="col-md-3 text-center">Weather</h1>
  </nav>

  <!-- Google Map -->
  <div id="map"></div>

  <br />
  <br />
  <center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>
  <div class="row">
    {% if data.country_code and data.coordinate and data.temp and data.pressure and data.humidity %}
    <div class="col-md-6 col-md-offset-3">
      <h3><span class="glyphicon glyphicon-globe"></span>Country Code : {{data.country_code}}</h1>
        <h5><span class="glyphicon glyphicon-map-marker"></span>City name : {{data.cityname}}</h5>
        <h5><span class="glyphicon glyphicon-screenshot"></span>Coordinates : {{data.coordinate}}</h5>
        <h5><span class="glyphicon glyphicon-fire"></span>Temperature: {{data.temp}}&deg;C</h5>
        <h5><span class="glyphicon glyphicon-tint"></span>Pressure : {{data.pressure}}hPa </h5>
        <h5><span class="glyphicon glyphicon-cloud"></span>Humidity : {{data.humidity}}%</h5>
    </div>
    {% endif %}
  </div>

  <script>
    function initMap() {
      var coordinates = "{{ data.coordinate }}".split(',');
      var latitude = parseFloat(coordinates[0]);
      var longitude = parseFloat(coordinates[1]);

      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: latitude, lng: longitude },
        zoom: 15
      });

      var marker = new google.maps.Marker({
        position: { lat: latitude, lng: longitude },
        map: map,
        title: 'Weather Location'
      });
    }
  </script>

</body>

</html>
